* {
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
  }

  html {
    scroll-behavior: smooth; 
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none; 
  }

.nav-link {
    padding: 0 10px;
    line-height: 50px;
    transition: .3s;
}  

.nav-link {
  text-decoration: none;
  color: #661212;
  transition: color 0.5s;
}
.nav-link:hover {
  color: #062847;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section {
    width: 50%;
  }

  .rss {
    width: 121px;
    height: 45px;
    background-image: url("./assets/svg/rss.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .section-item a {
    color: #661212;
    text-decoration: none;  
    transition: color 0.5s;
  }
  .section-item a:hover {
    color: #4d2323;
  }

  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }
  @media (max-width: 1440px) {
    .container {
       padding: 0 20px;
    }
  }
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: black;
  }

  .section-title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #661212;
  }

  .section-profile-logo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 1px 4px #661212;
    filter: grayscale(0.2) brightness(1.05);
    transition: .3s; 
  }

  .header, .footer {
    background-color: bisque;
  }

  .footer-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .section-profile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 30px 35px;
    border-bottom: 15px solid bisque;
  }

  .section-subtitle {
    margin-top: 20px;
    color: #661212;
    line-height: 50px;
    font-weight: 300;
    letter-spacing: 2px;
  }

  .section-profile-title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }

  .main-titel {
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    color: #4d2323;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 10px;
    line-height: 50px;
    word-spacing: 3px;
  }

  .main-titel::after {
    content: "";
    position: absolute;
    bottom: -19px;
    left: 50%;
    margin-left: -70px;
    width: 140px;
    height: 2px;
    background-color: #4d2323;
}

.section {
  padding: 10px;
  padding-bottom: 35px;
  border-bottom: 1px solid bisque;
}
/* CONTACT*/
.section-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* CODE*/
.pre {
  padding: 0;
  margin: 0;
}
